{{#each pools}}{{#unless isHidden}}
<div class="actionpoints">
  <h3>{{title}}</h3>
  <div class="actionpoints-counter">
    {{#if canEdit}}<a class="{{name}}-dec pipboy-button">-</a>{{/if}}
    <input class="{{name}}-points-field" value="{{this.points}}" onclick="select();" {{#unless canEdit}}disabled{{/unless}} />
    {{#if canEdit}}<a class="{{name}}-inc pipboy-button">+</a>
    <br />
    <a class="{{name}}-details-show {{name}}-details-toggle">{{min}}-{{max}}</a>
    <div class="actionpoints-details {{name}}-details" style="display: none;">
      <a class="{{name}}-details-hide {{name}}-details-toggle">{{localize "PointPool.HidePoolDetails"}}</a><br />
      <input value="{{this.min}}" class="{{name}}-min" onclick="select();" /> - <input value="{{this.max}}" class="{{name}}-max" onclick="select();" /><br />
      <a class="{{name}}-reset"><i class="fas fa-undo"></i> {{localize "PointPool.ResetPool"}}</a>
    </div>
    {{/if}}
  </div>
</div>
{{/unless}}{{/each}}
