/* 

PointPoolUI styling

 */

DIV#PointPoolUI {
    width: 180px !important;
}

DIV#PointPoolUI .window-content {
    display: block;
    padding: 0px;
    background: transparent;
}

DIV.actionpoints {
    flex: none;
    margin: 10px;
    padding: 4px;
    
    border: 2px;
    border-color: #00000033;
    border-style: outset;
    border-radius: 10px;

    text-align: center;
    background-image: url('../img/surface-pipboy-560px.jpg');
    color: #bbaa75bd;
}

DIV.actionpoints H3 {
    text-transform: uppercase;
    color: #ccc11d;
}

DIV.actionpoints-counter INPUT {
    width: 3em;
    padding: 6px;
    background-image: url('../img/overlay-scanlines-faint-198px.png');
    background-color: #0f1505;
    
    border: 3px;
    border-color: #555b4e;
    border-radius: 8px;
    border-style: ridge;
    
    font-family: monospace;
    color: #62cc62;
    text-align: center;
    font-size: 1.2em;
}

DIV.actionpoints-counter INPUT:disabled {
    background-color: #222;
    
    border: 3px;
    border-color: #535353;
    border-radius: 8px;
    border-style: ridge;
    
    color: #808080;
    cursor: default;
}

DIV.actionpoints-counter INPUT:hover {
    cursor: pointer;
}

DIV.actionpoints-counter A {
    text-decoration: underline dotted;
}

DIV.actionpoints-counter .fas {
    font-size: 0.7em;
    vertical-align: middle;
}

DIV.actionpoints-details INPUT {
    width: 3.5em;
    margin-top: 4px;
    padding: 4px;
    font-size: 1em;
}

A.pipboy-button {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    
    opacity: 0.8;
    background-image: url('../img/button-pipboy-110px.png');
    background-size: cover;
    
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    line-height: 36px;
    text-decoration: none !important;
}

A.pipboy-button:hover {
    opacity: 1;
    background-image: url('../img/button-pipboy-hover-110px.png');
}

A.pipboy-button:active {
    opacity: 1;
    background-image: url('../img/button-pipboy-press-110px.png');
}